<h1 style="text-align:center;">Data Collection System</h1>
<hr size="10" style="background-color:#000000">

<p>Review your answers, and submit if satisfied.</p>
<h2>What is your name? </h2></br>
<%= @name %>
<h2>What is your email? </h2></br>
<%= @email %>
<h2>What is the severity? </h2></br>
<%= @severity %></br>
<%= form_with( scope: :threat, url: "display", local: true) do |form| %>
  <p>
    <%= form.submit "SUBMIT"%>
  </p>
<% end %>

<p><a href="/threat/name">Click here to restart the submission process.</a></p>

<hr size="10" style="background-color:#000000">
<h1 style="text-align:center;">Second Version, made in 2022</h1>
